@model FF.BusinessObjects.trn_inv_hdr

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var val = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteVersion"].ToString();
}
@section Scripts
{
@*<script src="~/Scripts/Common/Invoice.js"></script>*@
<script src="~/Scripts/Common/Invoice.js?@val"></script>
@*<script src="~/Scripts/Common/Payment.js"></script>*@
}
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            Invoice
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Petty Invoice</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content clearfix">
        <!-- button container set begin -->
        <div class="col-md-12 text-right btn-scroll-top ">
            <button class="btn btn-sm btn-yellow-fullbg btn-save-inv">
                <i class="glyphicon glyphicon-ok-circle"></i>
                Temp Save
            </button>
            <button class="btn btn-sm btn-ash-fullbg btn-temp-print">
                <i class="glyphicon glyphicon-eye-open"></i> Print Preview
            </button>
            <button class="btn btn-sm btn-green-fullbg btn-approve">
                <i class="glyphicon glyphicon-ok-circle"></i>
                Approve
            </button>
            <button class="btn btn-sm btn-red-fullbg btn-cancel">
                <i class="glyphicon glyphicon-ok-circle"></i>
                Cancel
            </button>
            <button class="btn btn-sm btn-blue-fullbg print-job-btn">
                <i class="glyphicon glyphicon-print"></i>
                Print
            </button>
            <button class="btn btn-sm btn-red-fullbg clear-inv">
                <i class="glyphicon glyphicon-refresh"></i> Clear
            </button>
        </div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @id = "inv-data" }))
{
        <input type="hidden" id="chnlSession" data-value="@Request.RequestContext.HttpContext.Session["UserDefChnl"]" />
        <!-- button container set end-->
        <div class="col-md-11-9 padding-right10">
            <div class="row">
                <div class="col-lg-5">
                    <!-- customer details begin -->
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header with-border">
                            <h3 class="box-title form-headding">Basic Details</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Company</label>
                                        @Html.EditorFor(model => model.Tih_com_cd, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.Logincompany } })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    @*<div class="form-group">
                                        <label>Job No</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Tih_job_no, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="modal" data-target="#modalviewdf" class="btn btn-default btn-flat search-job-no"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label>Job No</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Tih_job_no, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="modal" data-target="#modalviewdf" class="btn btn-default btn-flat search-job-no"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>H/BL No</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Tih_bl_h_no, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="modal" data-target="#modalviewdf" class="btn btn-default btn-flat btn-house-bl"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="input-group date" style="width:140px;">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.Tih_inv_dt, new { htmlAttributes = new { @class = "form-control pull-right datepic" } })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Invoice Currency</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Tih_inv_curr, new { htmlAttributes = new { @class = "form-control", @value="LKR" } })
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="modal" data-target="#modalview" class="btn btn-default btn-flat curency-search"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Invoice No</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Tih_inv_no, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="modal" data-target="#modalviewdf" class="btn btn-default btn-flat inv-no-search"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label>Price Book</label>
                                        <select name="req-type" class="form-control">
                                            <option></option>
                                            <option value="1">Petty Cash Request</option>
                                            <option value="2">Payment Request</option>
                                            <option value="3">TT Payments</option>
                                        </select>
                                    </div>
                                </div>*@
                                @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label>Price Level</label>
                                        <select name="req-type" class="form-control">
                                            <option></option>
                                            <option value="1">Petty Cash Request</option>
                                            <option value="2">Payment Request</option>
                                            <option value="3">TT Payments</option>
                                        </select>
                                    </div>
                                </div>*@
                                <div class="col-md-12 padding-ls">
                                    <div class="col-md-4 padding-rls">
                                        <div class="form-group">
                                            <label>Acc.Manager</label>
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.Tih_ex_cd, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padding-ls">
                                        <div class="form-group">
                                            <label></label>
                                            <div class="input-group input-group-sm">
                                                @Html.EditorFor(model => model.Tih_exec_name, new { htmlAttributes = new { @class = "form-control" } })
                                                <span class="input-group-btn">
                                                    <button type="button" data-toggle="modal" data-target="#modalview" class="btn btn-default btn-flat btn-exec-search"><i class="glyphicon glyphicon-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <div class="col-lg-4">
                    <!-- contact details begin -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title form-headding">Customer Details</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Customer</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Tih_cus_cd, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="modal" data-target="#modalview" class="btn btn-default btn-flat btn-cust_search"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody-scroll82 have-scroll tbl-cus-name">
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Invoice Party</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Tih_inv_party_cd, new { htmlAttributes = new { @class = "form-control" } })
                                            <span class="input-group-btn">
                                                <button type="button" data-toggle="modal" data-target="#modalview" class="btn btn-default btn-flat btn-invoiceprty-search"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-hover tbl-inv-party">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody-scroll46">
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <!-- contact details end -->

                </div>

                <div class="col-lg-3">
                    <!-- customer details begin -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title form-headding">Additional Details</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                            @Html.TextAreaFor(model => model.Tih_rmk, new { rows = 2 })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Other Ref No</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Tih_other_ref_no, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>PO No</label>
                                        <div class="input-group input-group-sm">
                                            @Html.EditorFor(model => model.Tih_pono, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="petty-cash-con">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title form-headding">Element Details</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-1-3 col-xs-12 padding-right-1">
                                    <label>Service</label>
                                    <div class="input-group input-group-sm">
                                        @Html.DropDownList("Tid_ser_cd", new List<SelectListItem>(), "Select Type", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-1 col-xs-12 padding-ls-1">
                                    <label>Element</label>
                                    <div class="input-group input-group-sm">
                                        @Html.Editor("CstEle", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-btn">
                                            <button type="button" data-toggle="modal" data-target="#modalview" class="btn btn-default btn-flat cst-ele-srch"><i class="glyphicon glyphicon-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1-1 col-xs-12 padding-ls-1">
                                    <label>Description  </label>
                                    @Html.Editor("CstEleDesc", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-0-5 col-xs-12 padding-ls-1">
                                    <label>UOM</label>
                                    <div class="input-group input-group-sm">
                                        @Html.Editor("UOM", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-btn">
                                            <button type="button" data-toggle="modal" data-target="#modalview" class="btn btn-default btn-flat uom-srch"><i class="glyphicon glyphicon-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-0-4 col-xs-12 padding-ls-1">
                                    <label>No of Units</label>
                                    @Html.Editor("Units", new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                                </div>
                                <div class="col-md-0-5 col-xs-12 padding-ls-1">
                                    <label>Unit Price</label>
                                    @Html.Editor("UnitPrice", new { htmlAttributes = new { @class = "form-control dec-align", @Value = "0.0" } })
                                </div>
                                <div class="col-md-0-3 col-xs-12 padding-ls-1">
                                    <label>Currency</label>
                                    <div class="input-group input-group-sm">
                                        @Html.Editor("Currency", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-btn">
                                            <button type="button" data-toggle="modal" data-target="#modalview" class="btn btn-default btn-flat curency-search2"><i class="glyphicon glyphicon-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-0-5 col-xs-12 padding-ls-1">
                                    <label>Ex-rate</label>
                                    @Html.Editor("ExchgRate", new { htmlAttributes = new { @class = "form-control dec-align", @Value = "0.00" } })
                                </div>
                                <div class="col-md-1-1 col-xs-12 padding-ls-1">
                                    <label>Total Amount</label>
                                    @Html.Editor("Amount", new { htmlAttributes = new { @class = "form-control dec-align", @readonly = "readonly", @Value = "0.00" } })
                                </div>
                                <div class="col-md-1-1 col-xs-12 padding-ls-1">
                                    <label>Remarks</label>
                                    @Html.Editor("rmk", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-1 col-xs-12 padding-ls-1">
                                    <label>Merge</label>
                                    <div class="input-group input-group-sm">
                                        @Html.Editor("merg", new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-btn">
                                            <button type="button" data-toggle="modal" data-target="#modalview" class="btn btn-default btn-flat cst-merg-srch"><i class="glyphicon glyphicon-search"></i></button>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-0-1 col-xs-12 margintop1-3">
                                    <input type="button" class="btn btn-sm-min btn-green-fullbg btn-add-item" value="Add" />
                                </div>
                                <div class="col-md-12"><hr></div>
                                <div class="col-md-12" style="height:200px;">
                                    <table class="table table-bordered table-hover dataTable tbl-inv-itm">
                                        <thead>
                                            <tr>
                                                <th style="width:30px;">Line</th>
                                                <th style="width:80px;">Service</th>
                                                <th style="width:75px;">Element</th>
                                                <th style="width:205px;">Description</th>
                                                <th style="width:50px;">UOM</th>
                                                <th style="width:50px;">Units</th>
                                                <th style="width:75px;">Unit Price</th>
                                                <th style="width:57px;">Currency</th>
                                                <th style="width:45px;">Ex-rate</th>
                                                <th style="width:85px;">Amount</th>
                                                <th style="width:80px;">Merge</th>
                                                <th style="width:80px;">Comment</th>
                                                <th style="width:30px;"></th>

                                            </tr>
                                        </thead>
                                        <tbody class="tbody-scroll200">
                                            <tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-2 pull-right">
                                        <label>Total Amount</label>
                                        @Html.EditorFor(model => model.Tih_inv_amt, new { htmlAttributes = new { @class = "form-control dec-align", @Value = "0.00", @readonly = "readonly" } })
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div id="divpay" class="panel-sep row">
                @Html.Partial("~/Views/Shared/_Payment.cshtml")
            </div>*@
        </div>
        <div class="col-md-1-1">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-block btn-green-fullbg">
                                Confirm As New
                            </button>
                        </div>
                        <div class="col-md-12">
                            <p class="special-title">Print Types</p>
                            <div class="radio">
                                <label><input type="radio" name="optradio" id="Half" value="Half">Half Page</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio" id="Full" value="Full" checked="checked">Full Page With Logo</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio" id="FullWOLogo" value="FullWOLogo">Full Page Without Logo</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="special-title">Draft B/L</p>
                        </div>
                        <div class="col-md-12">
                            <table class="full-table">
                                <tr>
                                    <td><label id="d_bl_doc"></label></td>
                                </tr>
                                <tr>
                                    <td><label id="d_bl_ref"></label></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <p class="special-title">House B/L</p>
                        </div>

                        <div class="col-md-12">
                            <table class="full-table">
                                <tr>
                                    <td><label id="h_bl_doc"></label></td>
                                </tr>
                                <tr>
                                    <td><label id="h_bl_ref"></label></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <p class="special-title">Master B/L</p>
                        </div>

                        <div class="col-md-12">
                            <table class="full-table">
                                <tr>
                                    <td><label id="m_bl_doc"></label></td>
                                </tr>
                                <tr>
                                    <td><label id="m_bl_ref"></label></td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <table class="full-table-green">
                                <tr>
                                    <td>ETA : <label id="bl_eta"></label></td>
                                </tr>
                                <tr>
                                    <td>ETD : <label id="bl_etd"></label></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-in btn-sm-min btn-ash-fullbg">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>  Exchange Rate

                            <button class="btn btn-sm-min btn-in btn-yellow-fullbg">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>  Invoice Inquiry
                        </div>
                    </div>
                </div>
            </div>

        </div>
}
        @*<div id="divpay" class="panel-sep row">
            @Html.Partial("~/Views/Shared/_Payment.cshtml")
        </div>*@
    </section>
    <!-- end main section -->
</div>
<!-- /.content-wrapper -->

