@{
    ViewBag.Title = "Cost Enquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var val = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteVersion"].ToString();
}
@section Scripts
{
    <script src="~/Scripts/Common/Chart/jquery.flot.js"></script>
    <script src="~/Scripts/Common/Chart/jquery.flot.pie.js"></script>
    <script src="~/Scripts/Common/CostEnquiry.js?@val"></script>
}

<div class="cost-enqi-cls">
    <div class="container1 op-btns">
        <div class="row">
            <div class="col-md-4">
                <div class="page-title">Cost and Profitability Tracker</div>
            </div>
            <div class="col-md-8">
                <input type="submit" value="Clear" class="btn btn-default btn-default-style btn-cost-enq-clear" />
                <input type="submit" value="View" class="btn btn-default btn-default-style btn-cost-enq-view" />
            </div>
        </div>
    </div>
    @using (Html.BeginForm("GetEnquiry", "CostEnquiry", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frm-reporting" }))
    {
        <div class="demopage">
            <div class="container1">
                <div class="panel-sep">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel panel-heading">Cost and Profitability Tracker</div>
                            <div class="panel panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"><input type="radio" name="report_inv" id="report_inv" value="chkALL" checked> ALL</div>
                                                <div class="col-md-3"><input type="radio" name="report_inv" id="report_inv" value="chkInvoiced"> Invoiced</div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                Profit Center
                                            </div>
                                            <div class="col-md-8">
                                                @Html.Editor("ProfitCenter", new { htmlAttributes = new { @class = "form-control with-search" } })
                                                <img src="~/Resources/Images/Search-icon.png" class="search-img prof-cen-search" title="Search">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Request #
                                            </div>
                                            <div class="col-md-8">
                                                @Html.Editor("ReqNo", new { htmlAttributes = new { @class = "form-control with-search" } })
                                                <img src="~/Resources/Images/Search-icon.png" class="search-img req-no-search" title="Search">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Cost Sheet Ref
                                            </div>
                                            <div class="col-md-8">
                                                @Html.Editor("CostShtRef", new { htmlAttributes = new { @class = "form-control with-search" } })
                                                <img src="~/Resources/Images/Search-icon.png" class="search-img cst-sht-ref-search" title="Search">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                Customer
                                            </div>
                                            <div class="col-md-8">
                                                @Html.Editor("Customer", new { htmlAttributes = new { @class = "form-control with-search" } })
                                                <img src="~/Resources/Images/Search-icon.png" class="search-img customer-search" title="Search">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Service Code
                                            </div>
                                            <div class="col-md-8">
                                                @Html.Editor("SerCde", new { htmlAttributes = new { @class = "form-control with-search" } })
                                                <img src="~/Resources/Images/Search-icon.png" class="search-img ser-cde-search" title="Search">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                From Date
                                            </div>
                                            <div class="col-md-8">
                                                @Html.Editor("FrmDate", new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                To Date
                                            </div>
                                            <div class="col-md-8">
                                                @Html.Editor("ToDate", new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-3"><input type="radio" name="REPORT_TYPE" id="REPORT_TYPE" value="chkDetails" checked> Details</div>
                                            <div class="col-md-4"><input type="radio" name="REPORT_TYPE" id="REPORT_TYPE" value="chkSummery">  Summery</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-sep">
                    <div class="row">
                        <div class="col-md-8 data-table-box">
                            <table class="costenq-details-table table"></table>
                        </div>
                        <div class="col-md-4 chart-box">
                            <div class="panel panel-default">
                                <div class="panel panel-heading">GP Chart</div>
                                <p id="hover"></p>
                                <div class="panel panel-body gp-chart-body">
                                    <div id="GpChart" style="width: 130px; height: 130px; padding: 0px; position: relative; margin-left: 100px ! important;"></div>

                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel panel-heading">Revenue Chart</div>
                                <p id="hover1"></p>
                                <div class="panel panel-body rev-chart-body">
                                    <div id="RevChart" style="width: 130px; height: 130px; padding: 0px; position: relative; margin-left: 100px ! important;"></div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    }
</div>
